@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

.introduction {
    width: 100vw;
    height: 100vh;
    background-color: rgb(142, 196, 202);
    position: relative;
}

.intro-text {
    position: absolute;
    bottom: 0%;
    width: 40vw;
    margin-left: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.clouds {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    object-fit: contain;
}

.geisel {
    height: 55%;
    width: 55%;
    position: absolute;
    bottom: 30%;
    left: 45%;
    object-fit: contain;
}

.grass {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 15%;
    object-fit: contain;
}

.sun {
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 25%;
    object-fit: contain;
}